<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="5" name="TestValud">
		<classes>
			<class name="stub.test.TheStubTest.StubTest" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TestNotFound">
		<classes>
			<class name="stub.test.TheStubTest.StubTestNotFound" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TestError">
		<classes>
			<class name="stub.test.TheStubTest.StubTestReqFields" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
